.text-center {
  text-align: center;
  color:aqua
}

.drawer-option {
  padding: 16px;
}

.flex_container{
  display: flex;
}

#fridge.main-image{ 
  width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media(min-width: 900px) {
  #fridge.main-image{
    width: 80%;
  }
}
@media(min-width: 1200px) {
  #fridge.main-image{
    width: 70%;
    }
}
@media(min-width: 1600px) {
  #fridge.main-image{
    width: 60%;
    }
}

@media(min-width: 2000px) {
  #fridge.main-image{
    width: 50%;
    }
}



#main_image_text{
  position: relative;  
  font-weight: bold;
  font-size:x-large;
}

.shared-recipes{
  padding-left: 50px;
  padding-top: 100px;
  padding-right: 10px; 
  place-items: bottom;
  list-style:none;
  
}








