#post-recipe {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: none;
 
}

.main-image {
  max-width: 100%;  
  margin: auto;
  display: block;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.shared-recipe-card.mdl-card{
  width: 332px;  
  height: 320px;
  color:white;
  margin: auto;
  margin-top:40px;
  display: block;
}

@media(min-width: 600px) {
  .shared-recipe-card.mdl-card{
    width: 332px;
}

.shared-recipe-card.mdl-card__title-text{
  padding: 10px;
  color:black;
  text-align:center;
  font-size:large;
}

#recipe_button{
  display:block;
  margin:auto;
}

.mdl-layout--fixed-drawer{
  display:block;
  padding-top: 40px;;
}